[submodule "CVE-2022-27008/njs"]
	path = CVE-2022-27008/njs
	url = git@github.com:nginx/njs.git

[submodule "CVE-2022-26981/liblouis"]
  path = CVE-2022-26981/liblouis
  url = git@github.com:liblouis/liblouis.git

[submodule "CVE-2021-45429/yara"]
	path = CVE-2021-45429/yara
	url = git@github.com:VirusTotal/yara.git
[submodule "CVE-2021-46526/mjs"]
	path = CVE-2021-46526/mjs
	url = git@github.com:cesanta/mjs.git
