<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Memory error</string>
			<key>check_name</key>
			<string>unix.Malloc</string>
			<key>description</key>
			<string>Potential leak of memory pointed to by 'dst_buffer'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7cdffe3579b694171aa79b85880c27e6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>425</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>if (gf_log_tool_level_on (GF_LOG_CORE ,GF_LOG_WARNING )){gf_log_lt (GF_LOG_WARNING ,GF_LOG_CORE );gf_log ("[LZMA] error decompressing data: %d\n",ret );}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>423</integer>
					</dict>
					<key>name</key>
					<string>GF_LOG(GF_LOG_WARNING, GF_LOG_CORE, ("[LZMA] error decompressing data: %d\n", ret ))</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>384</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>384</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>382</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>384</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>384</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>392</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>392</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>391</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>394</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>394</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>392</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>392</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>399</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>399</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>394</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>394</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>404</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>404</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>399</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>399</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>405</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>405</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>404</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>404</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>405</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>405</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>408</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>408</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>407</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>408</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>408</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>411</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>411</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>410</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>411</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>411</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>27</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>27</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>413</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>413</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>412</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>415</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>415</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>413</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>413</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>419</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>419</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>415</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>415</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>419</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>419</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>422</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>424</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>382</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'ret' is equal to LZMA_OK</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>382</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>19</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>382</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>391</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is true</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>391</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>23</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>391</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>404</integer>
					</dict>
					<key>message</key>
					<string>Entering loop body</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>404</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>404</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>407</integer>
					</dict>
					<key>message</key>
					<string>Assuming field 'avail_out' is equal to 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>8</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>407</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>26</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>407</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>410</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is true</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>8</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>410</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>38</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>410</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>412</integer>
					</dict>
					<key>message</key>
					<string>Calling 'gf_realloc'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>412</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>51</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>412</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>157</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'gf_lz_decompress_payload'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>157</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>157</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>160</integer>
					</dict>
					<key>message</key>
					<string>Memory is allocated</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>160</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>26</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>160</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>412</integer>
					</dict>
					<key>message</key>
					<string>Returned allocated memory</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>412</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>51</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>412</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>421</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'ret' is not equal to LZMA_STREAM_END</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>421</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>28</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>421</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>422</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'ret' is not equal to LZMA_OK</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>422</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>20</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>422</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>423</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>4</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>423</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>87</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>423</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>425</integer>
					</dict>
					<key>message</key>
					<string>Potential leak of memory pointed to by 'dst_buffer'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>11</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>425</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>11</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>425</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/shangzhixu/CSABlindSpot/CVE-2024-0321/gpac-2.2.0/src/utils/alloc.c</string>
		<string>/home/shangzhixu/CSABlindSpot/CVE-2024-0321/gpac-2.2.0/src/utils/base_encoding.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.22.1</string>
		</dict>
	</dict>
</dict>
</plist>
