<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Memory error</string>
			<key>check_name</key>
			<string>unix.Malloc</string>
			<key>description</key>
			<string>Potential leak of memory pointed to by 'st'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>be27eae21289b9eeda082fc93781d1c8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>27</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>380</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>{(st )=(SVG_GlyphStack *)gf_malloc (sizeof (SVG_GlyphStack ));if (st ){memset ((void *)(st ),0,sizeof (SVG_GlyphStack ));}}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>376</integer>
					</dict>
					<key>name</key>
					<string>GF_SAFEALLOC(st, SVG_GlyphStack)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>350</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>350</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>361</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>35</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>363</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>363</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>35</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>363</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>363</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>366</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>366</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>364</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>366</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>366</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>368</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>376</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>376</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>374</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>376</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>376</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>378</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>378</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>377</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>378</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>378</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>27</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>380</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>361</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'node_font' is non-null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>361</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>361</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>362</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'node_font' is non-null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>362</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>362</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>362</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>21</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>362</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>60</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>362</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>364</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'font' is non-null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>364</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>364</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>368</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>368</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>49</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>368</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>374</integer>
					</dict>
					<key>message</key>
					<string>Assuming field 'unicode' is non-null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>374</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>374</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>376</integer>
					</dict>
					<key>message</key>
					<string>Calling 'gf_malloc'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>376</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>33</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>376</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>147</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'compositor_init_svg_glyph'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>147</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>147</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>150</integer>
					</dict>
					<key>message</key>
					<string>Memory is allocated</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>150</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>20</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>150</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>376</integer>
					</dict>
					<key>message</key>
					<string>Returned allocated memory</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>376</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>33</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>376</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>376</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'st' is non-null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>376</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>33</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>376</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>380</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'len' is equal to GF_UTF8_FAIL</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>380</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>24</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>380</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>27</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>380</integer>
					</dict>
					<key>message</key>
					<string>Potential leak of memory pointed to by 'st'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>380</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>380</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/shangzhixu/CSABlindSpot/CVE-2024-0321/gpac-2.2.0/src/compositor/svg_font.c</string>
		<string>/home/shangzhixu/CSABlindSpot/CVE-2024-0321/gpac-2.2.0/src/utils/alloc.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.22.1</string>
		</dict>
	</dict>
</dict>
</plist>
